include  ../../users/dashboard
// Content Wrapper. Contains page content
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            | Data Mata Pelajaran
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |  Home
            li
                a(href='#') Tables
            li.active Data tables
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .box.box-info
                            .box-header.with-border
                                h3.box-title Input data Mata Pelajaran
                            // /.box-header
                            // form start
                            form.form-horizontal(method="post", action="/inputmata_pelajaran", role='form')
                                .box-body
                                    .form-group
                                        label.col-sm-2.control-label(for='kode_pelajaran') Kode Pelajaran
                                        .col-sm-10
                                            input#kode_pelajaran.form-control(type='text' required name="kode_pelajaran" placeholder='kode pelajaran')
                                    .form-group
                                        label.col-sm-2.control-label(for='nama_pelajaran') Nama Pelajaran
                                        .col-sm-10
                                            input#nama_pelajaran.form-control(type='text' name="nama_pelajaran" placeholder='nama pelajaran')
                                    .form-group
                                        label.col-sm-2.control-label(for='nama_guru') Nama Guru
                                        .col-sm-10
                                            input#nama_guru.form-control(type='text' name="nama_guru" placeholder='nama guru')


                                // /.box-body
                                .box-footer
                                    button.btn.btn-info.pull-right(type='submit') Input Data
                                // /.box-footer

